<header class="header" data-header>
    <div class="container">

      <a href="#">
        <h1 class="logo">Tourest</h1>
      </a>

      <nav class="navbar">

        <ul class="navbar-list">

          <li>
            <a routerLink="" class="navbar-link">Home</a>
          </li>

          <li>
            <a routerLink="destinations" class="navbar-link">destinations</a>
          </li>

          <li>
            <a routerLink="offres" class="navbar-link">offres</a>
          </li>

          <li>
            <a routerLink="vols" class="navbar-link">vols</a>
          </li>


          <li>
            <a routerLink="login" class="navbar-link">login</a>
          </li>

        </ul>

      </nav>

    </div>
  </header>