<app-hero></app-hero>
<app-best-destinations></app-best-destinations>
<app-best-offres></app-best-offres>
<!-- 
        - #ABOUT
      -->
<section class="section about">
    <div class="container">

      <div class="about-content">

        <p class="section-subtitle">About Us</p>

        <h2 class="h2 section-title">Explore all tour of the world with us.</h2>

        <p class="about-text">
          Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or
          randomised words
          which don't look even slightly believable.
        </p>

        <ul class="about-list">

          <li class="about-item">

            <div class="about-item-icon">
              <ion-icon name="compass"></ion-icon>
            </div>

            <div class="about-item-content">
              <h3 class="h3 about-item-title">Tour guide</h3>

              <p class="about-item-text">
                Lorem Ipsum available, but the majority have suffered alteration in some.
              </p>
            </div>

          </li>

          <li class="about-item">

            <div class="about-item-icon">
              <ion-icon name="briefcase"></ion-icon>
            </div>

            <div class="about-item-content">
              <h3 class="h3 about-item-title">Friendly price</h3>

              <p class="about-item-text">
                Lorem Ipsum available, but the majority have suffered alteration in some.
              </p>
            </div>

          </li>

          <li class="about-item">

            <div class="about-item-icon">
              <ion-icon name="umbrella"></ion-icon>
            </div>

            <div class="about-item-content">
              <h3 class="h3 about-item-title">Reliable tour</h3>

              <p class="about-item-text">
                Lorem Ipsum available, but the majority have suffered alteration in some.
              </p>
            </div>

          </li>

        </ul>

        <a href="#" class="btn btn-primary">Booking Now</a>

      </div>

      <figure class="about-banner">
        <img src="./assets/images/about-banner.png" width="756" height="842" loading="lazy" alt="" class="w-100">
      </figure>

    </div>
  </section>

  <!-- 
    - #BLOG
  -->

  <section class="section blog">
    <div class="container">

      <p class="section-subtitle">From The Blog Post</p>

      <h2 class="h2 section-title">Latest News & Articles</h2>

      <ul class="blog-list">

        <li>
          <div class="blog-card">

            <figure class="card-banner">

              <a href="#">
                <img src="./assets/images/popular-1.jpg" width="740" height="518" loading="lazy"
                  alt="A good traveler has no fixed plans and is not intent on arriving." class="img-cover">
              </a>

              <span class="card-badge">
                <ion-icon name="time-outline"></ion-icon>

                <time datetime="12-04">04 Dec</time>
              </span>

            </figure>

            <div class="card-content">

              <div class="card-wrapper">

                <div class="author-wrapper">
                  <figure class="author-avatar">
                    <img src="./assets/images/author-avatar.png" width="30" height="30" alt="Jony bristow">
                  </figure>

                  <div>
                    <a href="#" class="author-name">Jony bristow</a>

                    <p class="author-title">Admin</p>
                  </div>
                </div>

                <time class="publish-time" datetime="10:30">10:30 AM</time>

              </div>

              <h3 class="card-title">
                <a href="#">
                  A good traveler has no fixed plans and is not intent on arriving.
                </a>
              </h3>

              <a href="#" class="btn-link">
                <span>Read More</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>

            </div>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <figure class="card-banner">

              <a href="#">
                <img src="./assets/images/blog-2.jpg" width="740" height="518" loading="lazy"
                  alt="A good traveler has no fixed plans and is not intent on arriving." class="img-cover">
              </a>

              <span class="card-badge">
                <ion-icon name="time-outline"></ion-icon>

                <time datetime="12-04">04 Dec</time>
              </span>

            </figure>

            <div class="card-content">

              <div class="card-wrapper">

                <div class="author-wrapper">
                  <figure class="author-avatar">
                    <img src="./assets/images/author-avatar.png" width="30" height="30" alt="Jony bristow">
                  </figure>

                  <div>
                    <a href="#" class="author-name">Jony bristow</a>

                    <p class="author-title">Admin</p>
                  </div>
                </div>

                <time class="publish-time" datetime="10:30">10:30 AM</time>

              </div>

              <h3 class="card-title">
                <a href="#">
                  A good traveler has no fixed plans and is not intent on arriving.
                </a>
              </h3>

              <a href="#" class="btn-link">
                <span>Read More</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>

            </div>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <figure class="card-banner">

              <a href="#">
                <img src="./assets/images/blog-3.jpg" width="740" height="518" loading="lazy"
                  alt="A good traveler has no fixed plans and is not intent on arriving." class="img-cover">
              </a>

              <span class="card-badge">
                <ion-icon name="time-outline"></ion-icon>

                <time datetime="12-04">04 Dec</time>
              </span>

            </figure>

            <div class="card-content">

              <div class="card-wrapper">

                <div class="author-wrapper">
                  <figure class="author-avatar">
                    <img src="./assets/images/author-avatar.png" width="30" height="30" alt="Jony bristow">
                  </figure>

                  <div>
                    <a href="#" class="author-name">Jony bristow</a>

                    <p class="author-title">Admin</p>
                  </div>
                </div>

                <time class="publish-time" datetime="10:30">10:30 AM</time>

              </div>

              <h3 class="card-title">
                <a href="#">
                  A good traveler has no fixed plans and is not intent on arriving.
                </a>
              </h3>

              <a href="#" class="btn-link">
                <span>Read More</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>

            </div>

          </div>
        </li>

      </ul>

    </div>
  </section> 